* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: "Open Sans", sans-serif;
    font-weight: 200;

}

.line {
    background-color: #117050;
    height: 10px;
}

.container {
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.logo > a > img {
    margin-top: 5px;
    width: 64px;
    height: 64px;

}

.form {
    display: flex;
}


#inpuText {
    font-size: 16px;
    padding: 7px 10px;
    outline: 0;
    width: 100%;
    max-width: 250px;
}

.Btn {
    border: 0;
    background: transparent;
    margin-left: -30px;
    cursor: pointer;
}

.Btn > img {
    font-size: 20px;
    height: 20px;
}

.menu > img {
    width: 25px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.banner {
    display: flex;
    background-image: url('../images/bg.jpg');
    height: 670px;
    margin: 20px;
}

.content-banner {
    display: flex;
    flex-direction: column;
    margin-left: 50px;



}

.content-banner > div > h1 {
    font-family: 'Oswald', 'sans-serif';
    font-size: 90px;
    line-height: 140px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 50px;
}



.content-banner > div > span {
    font-size: 1.3rem;
}


.content-banner > div > img {
    width: 148px;
    height: 148px;
    border: 10px solid #117050;
    border-radius: 50%;
    margin-top: 50px;
}


.area1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area1--content {
    padding: 8rem;
}

.area1--img1 {
    background-color: green;
    background-image: url('../images/f2.jpg');
    background-size: cover;
    background-position: center;
    height: 450px;
}

.bar {
    background-color: #006341;
    width: 168px;
    height: 22px;
}

.area1--img2 {
    background-color: rgb(163, 71, 255);
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-image: url('../images/f1.jpg');
    background-size: cover;
    background-position: center;

}

h2 {
    font-family: 'Oswald', 'sans-serif';
    font-weight: bold;
    font-size: 50px;
}

.bottom  {
    border: 2px solid #454545;
    padding: 15px 30px;
    border-radius: 3px;
    color: #454545;
    text-decoration: none;
    margin-top: 2rem;
    position: absolute;
}


.area1--text {
    margin-bottom: 50px;
    line-height: 2rem;
}

.bottom:hover  {
    background-color: #454545;
    border: 2px solid #fff;
    padding: 15px 30px;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
}